
.page__wrapper {
    margin-top: 30px;
    display: flex;
    gap: 5px;
}

.page {
    padding: 10px 15px;
    border: 1px solid teal;
    cursor: pointer;
}

.page__current {
    border: 2px solid orange;
    font-weight: bold;
}